<toast [toaster]="toastData"></toast>
<app-loader *ngIf="isLoader"></app-loader>
<div class="u-cf"></div>

<!-- <header></header> -->
<form [formGroup]="changePasswordForm">
  <div class="db-World-scrollWrapper">

    <div class="db-World-content Box-root Box-background--surface Padding-vertical--20">

      <div class="ui segment">
        <div class="ui top attached header">{{ 'common.changepassword' | translate:param }}</div>
        <div class="ui attached segment p20">
          <div class="ui form">
            <div class="rows mb20">
              <div class="one-half column">
                <div class="field">
                  <label>{{ 'common.oldpassword' | translate:param }}</label>

                  <div class="ui input">
                      <input name="username" type="password" maxlength="50" formControlName="oldPassword" #oldPassword [type]="showOldPassword ? 'text' : 'password'"/>
                      <a suiPopup popupInverted popupText="{{ this.showOldPassword ?  'Hide password' : 'Show password' }}"  popupPlacement="right" class="showon2" (click)="toggleShow('showOldPassword')"><span class="icon-password_show"></span></a>
                    </div>


                  <span class="text-holder text-danger">{{formErrors.oldPassword}}</span>
                  <span class="maxlength">{{oldPassword.value.length}} / 50</span>
                </div>
              </div>
            </div>
            <div class="rows mb20">
              <div class="one-half column">
                <div class="field">
                  <label>{{ 'common.newpassword' | translate:param }}</label>

                  <div class="ui input">
                      <input name="username" maxlength="50" type="password" formControlName="password" #password [type]="showPassword ? 'text' : 'password'"/>
                      <a suiPopup popupInverted popupText="{{ this.showPassword ?  'Hide password' : 'Show password' }}"  popupPlacement="right" class="showon2" (click)="toggleShow('showPassword')"><span class="icon-password_show"></span></a>
                    </div>

                  <span class="text-holder text-danger">{{formErrors.password}}</span>
                  <span class="maxlength">{{password.value.length}} / 50</span>
                </div>
              </div>
            </div>
            <div class="rows mb20">
              <div class="one-half column">
                <div class="field">
                  <label>Confirm New Password</label>

                  <div class="ui input">
                      <input name="username" type="password" maxlength="50" formControlName="confirmPassword" #confirmPassword [type]="showConfirmPassword ? 'text' : 'password'"/>
                      <a suiPopup popupInverted popupText="{{ this.showConfirmPassword ?  'Hide password' : 'Show password' }}"  popupPlacement="right" class="showon2" (click)="toggleShow('showConfirmPassword')"><span class="icon-password_show"></span></a>
                    </div>

                  <span class="text-holder text-danger">{{formErrors.confirmPassword}}</span>
                  <span class="maxlength">{{confirmPassword.value.length}} / 50</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui bottom attached header">
          <button class="ui primary loadingX button u-pull-right" (click)="changePassword();">{{ 'common.save' | translate:param }}</button>
          <button class="ui grey basic button u-pull-right" (click)="cancel();">{{ 'common.cancel' | translate:param }}</button>
          <div class="u-cf"></div>
        </div>
      </div>

    </div>
  </div>
</form>
<footer></footer>
