
<!-- <header></header> -->


  <div class="db-World-scrollWrapper">

    <div class="db-World-content Box-root Box-background--surface Padding-vertical--20">

        <div class="ui segment">
            <div class="ui top attached header">{{ 'reseller.dashboard.welcome' | translate }}</div>
            <div class="ui attached segment p20">

                <div class="row">
                  <!-- As per Discussion with Biswas commenting code for demo purpose -->
                    <!-- <div class="card column">
                        <div class="dash-link u-pull-right"></div>
                    <img src="../../../../../assets/images/setting.svg" height="" alt=""/>
                    <h4>{{ 'reseller.dashboard.fraudsettings' | translate}}</h4>
                        <p>Block IP address, set velocities and change password.</p>
                    </div>
                    <div class="card columns">
                        <div class="dash-link u-pull-right"></div>
                        <img src="../../../../../assets/images/reporting.svg" height="" alt=""/>
                        <h4>{{'reseller.dashboard.reports' | translate }}</h4>
                        <p>Run residual report to view profitability of your accounts.</p>
                    </div>
                    <div class="card columns">
                        <div class="dash-link u-pull-right"></div>
                        <img src="../../../../../assets/images/userroles.svg" height="" alt=""/>
                        <h4>{{'reseller.dashboard.userroles' | translate}}</h4>
                        <p>Create roles and user and grant access within your organization.</p>
                    </div> -->
                    <div class="cardBig columns">
                        <div class="dash-link u-pull-right"></div>
                        <!-- <img src="../../../../../assets/images/reporting.svg" height="" alt=""/> -->
                        <!-- <h4>Static content will be shown here</h4> -->
                        <div class="logo-centered centered ">
                            <h2>Static content will be shown here</h2>
                          </div>
                        <!-- <p>Run residual report to view profitability of your accounts.</p> -->
                    </div>
                </div>

            </div>
        </div>
        <!-- As per Discussion with Biswas commenting code for demo purpose -->
        <!-- <div class="ui segment">
                <div class="ui top attached header">{{ 'reseller.dashboard.news' | translate }}</div>
                <div class="ui attached segment p20">
                    <p class="news"><small>10 Apr 2018</small> Contact Hellopayments for new rate plans</p>
                </div>
            </div> -->

    </div>

</div>

<!-- <footer></footer> -->
