<toast [toaster]="toastData"></toast>
<app-loader *ngIf="isLoader"></app-loader>
<div class="u-cf"></div>

<header></header>
<div class="v-spacer"></div>
<div class="logo-centered">
  <img src="../../../../assets/images/logo_login.png" class="image"/>
</div>
<form [formGroup]="forgotPasswordForm">
  <div class="widget centered drop-shadow">
    <p>{{ 'common.forgotpassword' | translate:param }}</p>
    <p>Please enter your User Name, a link to reset your password will be sent to your registered email id</p>
    <br/>
    <div class="ui form">
      <div class="field">
        <label>{{ 'common.username' | translate:param }}</label>
        <div class="ui input">
          <input name="username" type="text" formControlName="userName" maxlength="50" #userName/>
          <a suiPopup popupInverted popupText="Clear text" popupPlacement="right" class="boxblank2" (click)="clear('userName')"><span class="icon-clear"></span></a>
        </div>
        <span class="text-holder text-danger">{{formErrors.userName}}</span>
        <span class="maxlength">{{userName.value.length}} / 50</span>
      </div>
      <div class="field">
        <!--<re-captcha class="center-recaptcha" formControlName="IsCaptcha" name="captcha" required (resolved)="resolved($event)" siteKey="6LfEMDcUAAAAAGsEzdq_TBCvJsL2o6tg2PKaeMwE"></re-captcha>-->

        <!-- Local -->
        <!--<re-captcha class="center-recaptcha" formControlName="IsCaptcha" #IsCaptcha name="captcha" required (resolved)="resolved($event)" siteKey="6LeRpCwUAAAAANhFPCD7HRqvtCEIhzacfYMEhRno"></re-captcha>-->
        <!--<sui-checkbox>-->
          <!--i'm not a robot-->
        <!--</sui-checkbox>-->
        <!--<span class="text-holder text-danger">{{formErrors.IsCaptcha}}</span>-->
      </div>
      <button class="ui primary loadingX button u-pull-right" (click)="forgetPassword()">{{ 'common.sendthelink' | translate:param }}</button>
      <button class="ui grey basic button u-pull-right" (click)="cancel()">{{ 'common.cancel' | translate:param }}</button>
      <div class="u-cf"></div>
    </div>
  </div>
</form>

<footer></footer>
