
/* .pagination-lg .page-link {padding: 0.75rem 1.5rem;font-size: 1.25rem}
.pagination-lg .page-item:first-child .page-link {border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem}
.pagination-lg .page-item:last-child .page-link {border-bottom-right-radius: 0.3rem;border-top-right-radius: 0.3rem}
.pagination-sm .page-link {padding: 0.25rem 0.5rem;font-size: 0.875rem}
.pagination-sm .page-item:first-child .page-link {border-bottom-left-radius: 0.2rem;border-top-left-radius: 0.2rem}
.pagination-sm .page-item:last-child .page-link {border-bottom-right-radius: 0.2rem;border-top-right-radius: 0.2rem} */